html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

header {
  position: relative;
  flex: 1; /* 全体の20% */

}

main {
  position: relative;
  flex: 7; /* 残りの70% */
}

footer {
  position: relative;
  flex: 1; /* 全体の10% */
}
